In [2]:
# Make BART Great Again
# Dependencies
import os
import csv
import pandas as pd
import json
import requests
from pprint import pprint
# Personal dependencies
import theFacts

In [3]:
# 2015 BART station data
bart_station_api_url = 'https://data.bart.gov/api/3/action/datastore_search'
all_stations = '?resource_id=48bee8d8-6106-4215-a937-31d71ee09f0c'
limit_search = '&limit=5'
bart_station_json = requests.get(bart_station_api_url + all_stations).json()
num_bart_stations = len(bart_station_json['result']['records'])
print(f'BART has {num_bart_stations} stations.')

BART has 45 stations.

In [4]:
# Sao Paulo metro data
# Bring csv data into pandas dataframe
sp_metro_file = os.path.join('sao-paulo-metro-data', 'metrosp_stations_v2.csv')
with open(sp_metro_file, newline='') as metro_holder:
    sp_metro = csv.reader(metro_holder, delimiter=',')
    sp_metro_headers = next(sp_metro)
    sp_metro_data = pd.DataFrame([row for row in sp_metro])

# Clean sp metro data
sp_metro_data = sp_metro_data.rename(columns={0: sp_metro_headers[0],
                                              1: sp_metro_headers[1],
                                              2: sp_metro_headers[2],
                                              3: sp_metro_headers[3],
                                              4: sp_metro_headers[4],
                                              5: sp_metro_headers[5]})
sp_metro_data = sp_metro_data.drop(columns=['', 'station', 'lat', 'lon'])

num_sp_stations = len(sp_metro_data['name'])

sp_lines = list(sp_metro_data['line'].value_counts().index[:6])
num_sp_lines = len(sp_lines)

print(f'Sao Paulo metro has {num_sp_stations} stations and a total of {num_sp_lines} lines.')
print(f'Sao Paulo metro lines: {sp_lines}')

Sao Paulo metro has 79 stations and a total of 6 lines.
Sao Paulo metro lines: ["['azul']", "['vermelha']", "['lilas']", "['verde']", "['amarela']", "['prata']"]

In [5]:
#NYC subway data
#bring csv into pandas dataframe
nyc_metro_file = os.path.join('nyc-metro-data', 'stops.csv')
with open(nyc_metro_file, newline='') as metro_holder:
    nyc_metro = csv.reader(metro_holder, delimiter=',')
    nyc_metro_headers = next(nyc_metro)
    nyc_metro_data = pd.DataFrame([row for row in nyc_metro])
#cleaning nyc data
nyc_metro_data = nyc_metro_data.rename(columns={0: nyc_metro_headers[0],
                                              1: nyc_metro_headers[1],
                                              2: nyc_metro_headers[2],
                                              3: nyc_metro_headers[3],
                                              4: nyc_metro_headers[4],
                                              5: nyc_metro_headers[5],
                                              6: nyc_metro_headers[6],
                                              7: nyc_metro_headers[7],
                                              8: nyc_metro_headers[8],
                                              9: nyc_metro_headers[9]})
nyc_metro_data = nyc_metro_data.drop(columns=['stop_code', 'stop_desc', 'zone_id', 'stop_url'])
#nyc_metro_data.head()
nyc_station_total = len(nyc_metro_data.stop_name.value_counts())
print(f'The NYC subway has {nyc_station_total} stations.')

The NYC subway has 380 stations.

In [6]:
#London tube data
#call api for data
tube_station_url = "https://api.tfl.gov.uk/Stoppoint/940GZZLUCHX/FareTo/940GZZLUBST"
tube_station_data = requests.get(tube_station_url).json()
#pprint(tube_station_data)

In [7]:
# TFL (transport for london) data
# Operational performance measures for london tube
london_tube_op_metrics = pd.DataFrame(
                        {"London Underground": ["Passenger journeys (millions)", "Kilometres operated (millions)",
                                                "Schedule operated (%)", "Excess journey time (weighted) (minutes)",
                                                "Customer satisfaction (score)", "Lost customer hours (millions)"],
                         "2014/15": [1305, 80.3, 97.6, 4.6, 84, 22.7],
                         "2015/16": [1349, 82.5, 97.0, 4.6, 85, 26.5],
                         "2016/17": [1378, 83.7, 96.9, 4.7, 85, 26.1],
                         "2017/18": [1357, 84.4, 96.6, 4.6, 85, 23.9],
                         "2018/19": [1384, 85.0, 96.8, 4.6, 84, 24.6]})
london_tube_op_metrics

,London Underground,2014/15,2015/16,2016/17,2017/18,2018/19
0,Passenger journeys (millions),1305.0,1349.0,1378.0,1357.0,1384.0
1,Kilometres operated (millions),80.3,82.5,83.7,84.4,85.0
2,Schedule operated (%),97.6,97.0,96.9,96.6,96.8
3,Excess journey time (weighted) (minutes),4.6,4.6,4.7,4.6,4.6
4,Customer satisfaction (score),84.0,85.0,85.0,85.0,84.0
5,Lost customer hours (millions),22.7,26.5,26.1,23.9,24.6

In [8]:
# London tube fares 2019
tube_fares_2019 = {"Zones Traveled": ["Zone 1", "Zone 1 & 2", "Zone 1 To 3", "Zone 1 To 4", 
                                    "Zone 1 To 5", "Zone 1 To 6", "Zone 2 To 6"],
                 "Single Journey Ticket Adult": [4.90, 4.90, 4.90, 5.90, 5.90, 6.00, 5.90],
                 "Single Journey Ticket Child": [2.40, 2.40, 2.40, 2.90, 2.90, 3.00, 2.90],
                 "Oyster Card Peak": [2.40, 2.90, 3.30, 3.90, 4.70, 5.10, 4.40],
                 "Oyster Card Off Peak": [2.40, 2.40, 2.80, 2.80, 3.10, 3.10, 3.00]}

def poundToDollar(pound):
    dollar = pound * 1.23
    return round(dollar, 2)

for d in range(0, len(tube_fares_2019["Single Journey Ticket Adult"])):
    tube_fares_2019["Single Journey Ticket Adult"][d] = poundToDollar(tube_fares_2019["Single Journey Ticket Adult"][d])

for d in range(0, len(tube_fares_2019["Single Journey Ticket Child"])):
    tube_fares_2019["Single Journey Ticket Child"][d] = poundToDollar(tube_fares_2019["Single Journey Ticket Child"][d])

for d in range(0, len(tube_fares_2019["Oyster Card Peak"])):
    tube_fares_2019["Oyster Card Peak"][d] = poundToDollar(tube_fares_2019["Oyster Card Peak"][d])

for d in range(0, len(tube_fares_2019["Oyster Card Off Peak"])):
    tube_fares_2019["Oyster Card Off Peak"][d] = poundToDollar(tube_fares_2019["Oyster Card Off Peak"][d])

tube_fares_2019 = pd.DataFrame(tube_fares_2019)
tube_fares_2019

,Zones Traveled,Single Journey Ticket Adult,Single Journey Ticket Child,Oyster Card Peak,Oyster Card Off Peak
0,Zone 1,6.03,2.95,2.95,2.95
1,Zone 1 & 2,6.03,2.95,3.57,2.95
2,Zone 1 To 3,6.03,2.95,4.06,3.44
3,Zone 1 To 4,7.26,3.57,4.80,3.44
4,Zone 1 To 5,7.26,3.57,5.78,3.81
5,Zone 1 To 6,7.38,3.69,6.27,3.81
6,Zone 2 To 6,7.26,3.57,5.41,3.69

In [10]:
# Tube API
tube_dat15 = 'tube-data/2015 Entry & Exit.csv'
with open(tube_dat15, newline='') as temp15:
    tube15 = csv.reader(temp15, delimiter=',')
    tube15_data = pd.DataFrame([row for row in tube15])

# Rows and Column clean
tube15_data = tube15_data.drop(0)
tube15_data = tube15_data.drop(1)
tube15_data = tube15_data.drop(2)
tube15_data = tube15_data.drop(3)
tube15_data = tube15_data.drop(4)
tube15_data = tube15_data.drop(5)
tube15_data = tube15_data.drop(6)
tube15_data = tube15_data.drop(columns=[0, 3, 11, 12, 13, 14, 15])

tube15_data = tube15_data.rename(columns={
                                        1: "Station",
                                        2: "Borough",
                                        4: "Entry Weekday",
                                        5: "Entry Saturday",
                                        6: "Entry Sunday",
                                        7: "Exit Weekday",
                                        8: "Exit Saturday",
                                        9: "Exit Sunday",
                                        10: "Annual Entry + Exit (Millions)"})

tube15_data = tube15_data.reset_index()
tube15_data = tube15_data.drop(columns=['index'])
tube15_data.head()

#total_traffic15 = [float(x) for x in tube15_data['Annual Entry + Exit (Millions)']]


tube_station_count = len(tube15_data["Station"])
print(f'The London Tube has {tube_station_count} stations.')

tube_lines = ['Bakerloo', 'Central', 'Circle', 'District', 'Hammersmith & City', 'Jubilee',
              'Metropolitan', 'Northern', 'Piccadilly', 'Victoria', 'Waterloo & City']
tube_line_count = len(tube_lines)
print(f'The London Tube has {tube_line_count} lines.')

The London Tube has 271 stations.
The London Tube has 11 lines.