In [1]:
# Make BART Great Again
# Dependencies
import os
import csv
import pandas as pd
import json
import requests
from pprint import pprint
# Personal dependencies
import theFacts

In [2]:
# 2015 BART station data
bart_station_api_url = 'https://data.bart.gov/api/3/action/datastore_search'
all_stations = '?resource_id=48bee8d8-6106-4215-a937-31d71ee09f0c'
limit_search = '&limit=5'
bart_station_json = requests.get(bart_station_api_url + all_stations).json()
num_bart_stations = len(bart_station_json['result']['records'])
print(f'BART has {num_bart_stations} stations.')

BART has 45 stations.

In [9]:
#BART Bringing in Operating Cost per Passenger CSV
operating_costs = "BART Data Sources/Financial Security_2018.csv" 
operating_costs_pd = pd.read_csv(operating_costs)
operating_costs_pd
operating_costs_pd.describe()

,Standard (if applicable),FY 08,FY 09,FY 10,FY 11,FY 12,FY 13,FY 14,FY 15,FY 16,FY 17,FY 18
count,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000
mean,0.175000,1.170000,3.680000,-0.325000,-2.835000,0.665000,0.165000,0.165000,-0.835000,2.170000,3.685000,3.195000
std,0.247487,1.173797,4.695189,0.954594,4.475986,0.473762,0.233345,0.233345,1.647559,2.588011,4.688118,3.966869
min,0.000000,0.340000,0.360000,-1.000000,-6.000000,0.330000,0.000000,0.000000,-2.000000,0.340000,0.370000,0.390000
25%,0.087500,0.755000,2.020000,-0.662500,-4.417500,0.497500,0.082500,0.082500,-1.417500,1.255000,2.027500,1.792500
50%,0.175000,1.170000,3.680000,-0.325000,-2.835000,0.665000,0.165000,0.165000,-0.835000,2.170000,3.685000,3.195000
75%,0.262500,1.585000,5.340000,0.012500,-1.252500,0.832500,0.247500,0.247500,-0.252500,3.085000,5.342500,4.597500
max,0.350000,2.000000,7.000000,0.350000,0.330000,1.000000,0.330000,0.330000,0.330000,4.000000,7.000000,6.000000

In [20]:
# BART Station Traffic 2015-2018 
ridership = "BART Data Sources/Sum_Ridership.csv" 
ridership_pd = pd.read_csv(ridership)
ridership_pd

        Month     2015     2016     2017     2018
0     January  710,202  727,468  721,549  675,484
1   February   721,172  852,894  732,823  703,198
2       March  761,647  727,215  722,922  688,274
3      April   750,542  759,037  719,957  703,362
4         May  752,574  773,358  723,530  717,368
5        June  819,450  804,181  766,500  752,045
6        July  758,507  748,369  736,583  712,470
7      August  742,047  752,959  741,788  675,484
8   September  767,189  768,617  729,369  726,218
9    October   799,312  780,793  741,167  732,134
10   November  758,530  757,278  714,598  660,505
11   December  735,574  749,491  700,083  666,412

In [7]:
# BART Rider Satisfaction (customer complaints)
customer_complaints = "BART Data Sources/Customer Complaints Jan-Jun 2018.csv"
customer_complaints_pd = pd.read_csv(customer_complaints)
customer_complaints_pd.head()

,Case Origin,Type,Category,Sub-Category,Station,Date/Time Opened,Date/Time Closed,Age (Days)
0,Website,Complaint,Police,Lack of Presence - STA,M30 - Powell St. (SF),4/1/18 1:00,4/3/18 13:48,3.0
1,Website,Complaint,Police,Lack of Presence - STA,M30 - Powell St. (SF),4/1/18 1:00,4/3/18 13:45,3.0
2,Website,Complaint,Maintenance and Equipment,M&E Misc.,M60 - 24th St. Mission (SF),4/1/18 9:19,4/3/18 11:39,2.0
3,Website,Complaint,Police,Lack of Presence - Train,NaN,4/1/18 12:59,4/3/18 11:34,2.0
4,Website,Complaint,Police,Lack of Presence - STA,C50 - Pleasant Hill/Contra Costa Centre,4/1/18 14:46,4/3/18 12:38,2.0

In [6]:
#BART Bringing in Operating Cost per Passenger CSV
operating_costs = "BART Data Sources/Financial Security_2018.csv" 
operating_costs_pd = pd.read_csv(operating_costs)
operating_costs_pd

,Description,Standard (if applicable),FY 08,FY 09,FY 10,FY 11,FY 12,FY 13,FY 14,FY 15,FY 16,FY 17,FY 18
0,Operating cost per passenger mile,0.35,0.34,0.36,0.35,0.33,0.33,0.33,0.33,0.33,0.34,0.37,0.39
1,% Change from previous year,0.00,2.00,7.00,-1.00,-6.00,1.00,0.00,0.00,-2.00,4.00,7.00,6.00

In [5]:
# Sao Paulo metro data
# Bring csv data into pandas dataframe
sp_metro_file = os.path.join('sao-paulo-metro-data', 'metrosp_stations_v2.csv')
with open(sp_metro_file, newline='') as metro_holder:
    sp_metro = csv.reader(metro_holder, delimiter=',')
    sp_metro_headers = next(sp_metro)
    sp_metro_data = pd.DataFrame([row for row in sp_metro])

# Clean sp metro data
sp_metro_data = sp_metro_data.rename(columns={0: sp_metro_headers[0],
                                              1: sp_metro_headers[1],
                                              2: sp_metro_headers[2],
                                              3: sp_metro_headers[3],
                                              4: sp_metro_headers[4],
                                              5: sp_metro_headers[5]})
sp_metro_data = sp_metro_data.drop(columns=['', 'station', 'lat', 'lon'])

num_sp_stations = len(sp_metro_data['name'])

sp_lines = list(sp_metro_data['line'].value_counts().index[:6])
num_sp_lines = len(sp_lines)

print(f'Sao Paulo metro has {num_sp_stations} stations and a total of {num_sp_lines} lines.')
print(f'Sao Paulo metro lines: {sp_lines}')

Sao Paulo metro has 79 stations and a total of 6 lines.
Sao Paulo metro lines: ["['azul']", "['vermelha']", "['lilas']", "['verde']", "['amarela']", "['prata']"]

In [6]:
#NYC subway data
#bring csv into pandas dataframe
nyc_metro_file = os.path.join('nyc-metro-data', 'stops.csv')
with open(nyc_metro_file, newline='') as metro_holder:
    nyc_metro = csv.reader(metro_holder, delimiter=',')
    nyc_metro_headers = next(nyc_metro)
    nyc_metro_data = pd.DataFrame([row for row in nyc_metro])
#cleaning nyc data
nyc_metro_data = nyc_metro_data.rename(columns={0: nyc_metro_headers[0],
                                              1: nyc_metro_headers[1],
                                              2: nyc_metro_headers[2],
                                              3: nyc_metro_headers[3],
                                              4: nyc_metro_headers[4],
                                              5: nyc_metro_headers[5],
                                              6: nyc_metro_headers[6],
                                              7: nyc_metro_headers[7],
                                              8: nyc_metro_headers[8],
                                              9: nyc_metro_headers[9]})
nyc_metro_data = nyc_metro_data.drop(columns=['stop_code', 'stop_desc', 'zone_id', 'stop_url'])
#nyc_metro_data.head()
nyc_station_total = len(nyc_metro_data.stop_name.value_counts())
print(f'The NYC subway has {nyc_station_total} stations.')

The NYC subway has 380 stations.

In [ ]:
#London tube data
#call api for data
tube_station_url = "https://api.tfl.gov.uk/Stoppoint/940GZZLUCHX/FareTo/940GZZLUBST"
tube_station_data = requests.get(tube_station_url).json()
#pprint(tube_station_data)