In [1]:
# Make BART Great (for once)
# Dependencies
import os
import csv
import pandas as pd
import json
import requests
from pprint import pprint
# Personal dependencies
from config import nyc_track_length, nyc_avg_fare, nyc_budg

In [2]:
# 2015 BART station data
bart_station_api_url = 'https://data.bart.gov/api/3/action/datastore_search'
all_stations = '?resource_id=48bee8d8-6106-4215-a937-31d71ee09f0c'
limit_search = '&limit=5'
bart_station_json = requests.get(bart_station_api_url + all_stations).json()
num_bart_stations = len(bart_station_json['result']['records'])
print(f'BART has {num_bart_stations} stations.')

BART has 45 stations.

In [3]:
# Sao Paulo metro data
# Bring csv data into pandas dataframe
sp_metro_file = os.path.join('sao-paulo-metro-data', 'metrosp_stations_v2.csv')
with open(sp_metro_file, newline='') as metro_holder:
    sp_metro = csv.reader(metro_holder, delimiter=',')
    sp_metro_headers = next(sp_metro)
    sp_metro_data = pd.DataFrame([row for row in sp_metro])

# Clean sp metro data
sp_metro_data = sp_metro_data.rename(columns={0: sp_metro_headers[0],
                                              1: sp_metro_headers[1],
                                              2: sp_metro_headers[2],
                                              3: sp_metro_headers[3],
                                              4: sp_metro_headers[4],
                                              5: sp_metro_headers[5]})
sp_metro_data = sp_metro_data.drop(columns=['', 'station', 'lat', 'lon'])

num_sp_stations = len(sp_metro_data['name'])

sp_lines = list(sp_metro_data['line'].value_counts().index[:6])
num_sp_lines = len(sp_lines)
sp_metro_cost = 1.22

print(f'Sao Paulo metro has {num_sp_stations} stations and a total of {num_sp_lines} lines.')
print(f'Sao Paulo metro lines: {sp_lines}')
print(f'Sao Paulo metro costs: ${sp_metro_cost}')

Sao Paulo metro has 79 stations and a total of 6 lines.
Sao Paulo metro lines: ["['azul']", "['vermelha']", "['lilas']", "['verde']", "['amarela']", "['prata']"]
Sao Paulo metro costs: $1.22

In [4]:
#NYC subway data
#bring csv into pandas dataframe
nyc_metro_file = os.path.join('nyc-metro-data', 'stops.csv')
with open(nyc_metro_file, newline='') as metro_holder:
    nyc_metro = csv.reader(metro_holder, delimiter=',')
    nyc_metro_headers = next(nyc_metro)
    nyc_metro_data = pd.DataFrame([row for row in nyc_metro])
#cleaning nyc data
nyc_metro_data = nyc_metro_data.rename(columns={0: nyc_metro_headers[0],
                                              1: nyc_metro_headers[1],
                                              2: nyc_metro_headers[2],
                                              3: nyc_metro_headers[3],
                                              4: nyc_metro_headers[4],
                                              5: nyc_metro_headers[5],
                                              6: nyc_metro_headers[6],
                                              7: nyc_metro_headers[7],
                                              8: nyc_metro_headers[8],
                                              9: nyc_metro_headers[9]})
nyc_metro_data = nyc_metro_data.drop(columns=['stop_code', 'stop_desc', 'zone_id', 'stop_url'])
#nyc_metro_data.head()
nyc_station_total = len(nyc_metro_data.stop_name.value_counts())
print(f'The NYC subway has {nyc_station_total} stations.')

The NYC subway has 380 stations.

In [5]:
'''#London tube data
#call api for data
tube_station_url = "https://api.tfl.gov.uk/Stoppoint/940GZZLUCHX/FareTo/940GZZLUBST"
tube_station_data = requests.get(tube_station_url).json()
pprint(tube_station_data)'''

'#London tube data\n#call api for data\ntube_station_url = "https://api.tfl.gov.uk/Stoppoint/940GZZLUCHX/FareTo/940GZZLUBST"\ntube_station_data = requests.get(tube_station_url).json()\npprint(tube_station_data)'

In [6]:
# TFL (transport for london) data
# Operational performance measures for london tube
london_tube_op_metrics = pd.DataFrame(
                        {"London Underground": ["Passenger journeys (millions)", "Kilometres operated (millions)",
                                                "Schedule operated (%)", "Excess journey time (weighted) (minutes)",
                                                "Customer satisfaction (score)", "Lost customer hours (millions)"],
                         "2014/15": [1305, 80.3, 97.6, 4.6, 84, 22.7],
                         "2015/16": [1349, 82.5, 97.0, 4.6, 85, 26.5],
                         "2016/17": [1378, 83.7, 96.9, 4.7, 85, 26.1],
                         "2017/18": [1357, 84.4, 96.6, 4.6, 85, 23.9],
                         "2018/19": [1384, 85.0, 96.8, 4.6, 84, 24.6]})
london_tube_op_metrics

,London Underground,2014/15,2015/16,2016/17,2017/18,2018/19
0,Passenger journeys (millions),1305.0,1349.0,1378.0,1357.0,1384.0
1,Kilometres operated (millions),80.3,82.5,83.7,84.4,85.0
2,Schedule operated (%),97.6,97.0,96.9,96.6,96.8
3,Excess journey time (weighted) (minutes),4.6,4.6,4.7,4.6,4.6
4,Customer satisfaction (score),84.0,85.0,85.0,85.0,84.0
5,Lost customer hours (millions),22.7,26.5,26.1,23.9,24.6

In [7]:
# London tube fares 2019
tube_fares_2019 = {"Zones Traveled": ["Zone 1", "Zone 1 & 2", "Zone 1 To 3", "Zone 1 To 4", 
                                    "Zone 1 To 5", "Zone 1 To 6", "Zone 2 To 6"],
                 "Single Journey Ticket Adult": [4.90, 4.90, 4.90, 5.90, 5.90, 6.00, 5.90],
                 "Single Journey Ticket Child": [2.40, 2.40, 2.40, 2.90, 2.90, 3.00, 2.90],
                 "Oyster Card Peak": [2.40, 2.90, 3.30, 3.90, 4.70, 5.10, 4.40],
                 "Oyster Card Off Peak": [2.40, 2.40, 2.80, 2.80, 3.10, 3.10, 3.00]}

def poundToDollar(pound):
    dollar = pound * 1.23
    return round(dollar, 2)

for d in range(0, len(tube_fares_2019["Single Journey Ticket Adult"])):
    tube_fares_2019["Single Journey Ticket Adult"][d] = poundToDollar(tube_fares_2019["Single Journey Ticket Adult"][d])

for d in range(0, len(tube_fares_2019["Single Journey Ticket Child"])):
    tube_fares_2019["Single Journey Ticket Child"][d] = poundToDollar(tube_fares_2019["Single Journey Ticket Child"][d])

for d in range(0, len(tube_fares_2019["Oyster Card Peak"])):
    tube_fares_2019["Oyster Card Peak"][d] = poundToDollar(tube_fares_2019["Oyster Card Peak"][d])

for d in range(0, len(tube_fares_2019["Oyster Card Off Peak"])):
    tube_fares_2019["Oyster Card Off Peak"][d] = poundToDollar(tube_fares_2019["Oyster Card Off Peak"][d])

tube_fares_2019 = pd.DataFrame(tube_fares_2019)
tube_fares_2019

,Zones Traveled,Single Journey Ticket Adult,Single Journey Ticket Child,Oyster Card Peak,Oyster Card Off Peak
0,Zone 1,6.03,2.95,2.95,2.95
1,Zone 1 & 2,6.03,2.95,3.57,2.95
2,Zone 1 To 3,6.03,2.95,4.06,3.44
3,Zone 1 To 4,7.26,3.57,4.80,3.44
4,Zone 1 To 5,7.26,3.57,5.78,3.81
5,Zone 1 To 6,7.38,3.69,6.27,3.81
6,Zone 2 To 6,7.26,3.57,5.41,3.69

In [8]:
tube_dat15 = 'tube-data/2015 Entry & Exit.csv'
tube15_data = pd.read_csv(tube_dat15)

traffic15 = round(sum(tube15_data['Entry + Exit (Millions)'] * 1000000), 0)
print(f'The total 2015 traffic in the london tube was {traffic15}')

The total 2015 traffic in the london tube was 2925569154.0

In [9]:
tube_station_count = len(tube15_data["Station"])
print(f'The London Tube has {tube_station_count} stations.')

tube_lines = ['Bakerloo', 'Central', 'Circle', 'District', 'Hammersmith & City', 'Jubilee',
              'Metropolitan', 'Northern', 'Piccadilly', 'Victoria', 'Waterloo & City']
tube_line_count = len(tube_lines)
print(f'The London Tube has {tube_line_count} lines.')

The London Tube has 268 stations.
The London Tube has 11 lines.

In [10]:
tube_dat16 = 'tube-data/2016 Entry & Exit.csv'
tube16_data = pd.read_csv(tube_dat16)

traffic16 = round(sum(tube16_data['Entry + Exit (Millions)'] * 1000000), 0)
print(f'The total 2016 traffic in the london tube was {traffic16}')

The total 2016 traffic in the london tube was 2985860000.0

In [11]:
tube_dat17 = 'tube-data/2017 Entry & Exit.csv'
tube17_data = pd.read_csv(tube_dat17)

traffic17 = round(sum(tube17_data['Entry + Exit (Millions)'] * 1000000), 0)
print(f'The total 2017 traffic in the london tube was {traffic17}')

The total 2017 traffic in the london tube was 2945940000.0

In [12]:
# Total station traffic 
tube_station_traffic = [traffic15, traffic16, traffic17]
tube_station_traffic

[2925569154.0, 2985860000.0, 2945940000.0]

In [13]:
# Op cost per passenger per mile
op_cost_per_mile17 = 9.30
tube_track_length = 250
op_cost17 = op_cost_per_mile17 * tube_track_length
op_cost_per_pas_per_mile17 = (op_cost17 / traffic17) * tube_track_length
op_cost_per_pas_per_mile17

0.00019730544410273123

In [14]:
#NYC subway data
#bring csvs into pandas dataframes
nyc_metro_file = os.path.join('nyc-metro-data', 'stops.csv')
with open(nyc_metro_file, newline='') as metro_holder:
    nyc_metro = csv.reader(metro_holder, delimiter=',')
    nyc_metro_headers = next(nyc_metro)
    nyc_metro_data = pd.DataFrame([row for row in nyc_metro])
nyc_metro_file2 = os.path.join('nyc-metro-data', 'nyc-transit-subway-entrance-and-exit-data.csv')
with open(nyc_metro_file2, newline='') as metro_holder2:
    nyc_metro2 = csv.reader(metro_holder2, delimiter=',')
    nyc_metro_headers2 = next(nyc_metro2)
    nyc_metro_data2 = pd.DataFrame([row for row in nyc_metro2])
nyc_metro_file17 = os.path.join('nyc-metro-data', '2017-station-entry-and-exit-figures.csv')
with open(nyc_metro_file17, newline='') as metro_holder17:
    nyc_metro17 = csv.reader(metro_holder17, delimiter=',')
    nyc_metro_headers17 = next(nyc_metro17)
    nyc_metro_data17 = pd.DataFrame([row for row in nyc_metro17])
nyc_metro_file16 = os.path.join('nyc-metro-data', '2016-station-entry-and-exit-figures.csv')
with open(nyc_metro_file16, newline='') as metro_holder16:
    nyc_metro16 = csv.reader(metro_holder16, delimiter=',')
    nyc_metro_headers16 = next(nyc_metro16)
    nyc_metro_data16 = pd.DataFrame([row for row in nyc_metro16])
nyc_metro_file15 = os.path.join('nyc-metro-data', '2015-station-entry-and-exit-figures.csv')
with open(nyc_metro_file15, newline='') as metro_holder15:
    nyc_metro15 = csv.reader(metro_holder15, delimiter=',')
    nyc_metro_headers15 = next(nyc_metro15)
    nyc_metro_data15 = pd.DataFrame([row for row in nyc_metro15])
#cleaning nyc data
nyc_metro_data = nyc_metro_data.rename(columns={0: nyc_metro_headers[0],
                                              1: nyc_metro_headers[1],
                                              2: nyc_metro_headers[2],
                                              3: nyc_metro_headers[3],
                                              4: nyc_metro_headers[4],
                                              5: nyc_metro_headers[5],
                                              6: nyc_metro_headers[6],
                                              7: nyc_metro_headers[7],
                                              8: nyc_metro_headers[8],
                                              9: nyc_metro_headers[9]})
nyc_metro_data2 = nyc_metro_data2[[0, 1, 2, 3, 4]]
nyc_metro_data2 = nyc_metro_data2.rename(columns={0: nyc_metro_headers2[0],
                                              1: nyc_metro_headers2[1],
                                              2: nyc_metro_headers2[2],
                                              3: nyc_metro_headers2[3],
                                              4: nyc_metro_headers2[4]})
nyc_metro_data = nyc_metro_data.drop(columns=['stop_code', 'stop_desc', 'zone_id', 'stop_url'])
nyc_metro_data17 = nyc_metro_data17.rename(columns={0: nyc_metro_headers17[0],
                                              1: nyc_metro_headers17[1],
                                              2: nyc_metro_headers17[2],
                                              3: nyc_metro_headers17[3],
                                              4: nyc_metro_headers17[4],
                                              5: nyc_metro_headers17[5],
                                              6: nyc_metro_headers17[6],
                                              7: nyc_metro_headers17[7],
                                              8: nyc_metro_headers17[8],
                                              9: nyc_metro_headers17[9],
                                              10: nyc_metro_headers17[10]})
nyc_metro_data16 = nyc_metro_data16.rename(columns={0: nyc_metro_headers16[0],
                                              1: nyc_metro_headers16[1],
                                              2: nyc_metro_headers16[2],
                                              3: nyc_metro_headers16[3],
                                              4: nyc_metro_headers16[4],
                                              5: nyc_metro_headers16[5],
                                              6: nyc_metro_headers16[6],
                                              7: nyc_metro_headers16[7],
                                              8: nyc_metro_headers16[8],
                                              9: nyc_metro_headers16[9],
                                              10: nyc_metro_headers16[10]})
nyc_metro_data15 = nyc_metro_data15.rename(columns={0: nyc_metro_headers15[0],
                                              1: nyc_metro_headers15[1],
                                              2: nyc_metro_headers15[2],
                                              3: nyc_metro_headers15[3],
                                              4: nyc_metro_headers15[4],
                                              5: nyc_metro_headers15[5],
                                              6: nyc_metro_headers15[6],
                                              7: nyc_metro_headers15[7],
                                              8: nyc_metro_headers15[8],
                                              9: nyc_metro_headers15[9],
                                              10: nyc_metro_headers15[10]})
#nyc_metro_data2.head()
#nyc_metro_data15.head()
nyc_metro_data17['million'] = pd.to_numeric(nyc_metro_data17['million'], errors='coerce')
nyc_total_rider17 = nyc_metro_data17['million'].sum() * 1000000
nyc_opp_cost17 = nyc_budg / (nyc_track_length * nyc_total_rider17)
nyc_metro_data16['million'] = pd.to_numeric(nyc_metro_data16['million'], errors='coerce')
nyc_total_rider16 = nyc_metro_data16['million'].sum() * 1000000
nyc_opp_cost16 = nyc_budg / (nyc_track_length * nyc_total_rider16)
nyc_metro_data15['million'] = pd.to_numeric(nyc_metro_data15['million'], errors='coerce')
nyc_total_rider15 = nyc_metro_data15['million'].sum() * 1000000
nyc_opp_cost15 = nyc_budg / (nyc_track_length * nyc_total_rider15)
#print(nyc_total_rider)
nyc_station_total = len(nyc_metro_data.stop_name.value_counts())
nyc_line_total = len(nyc_metro_data2.Line.value_counts())
print(f'The NYC subway has {nyc_station_total} stations.')
print(f'The NYC subway has {nyc_line_total} lines.')
print(f'The NYC subway has {nyc_track_length} miles of track.')
print(f'The NYC subway has an average fare of ${nyc_avg_fare}.')
print(f'The NYC subway has an annual ridership of {nyc_total_rider17} riders.')
print(f'The NYC subway has an annual ridership of {nyc_total_rider16} riders.')
print(f'The NYC subway has an annual ridership of {nyc_total_rider15} riders.')
print(f'The NYC subway had a cost per mile per customer of ${nyc_opp_cost17} in 2017.')
print(f'The NYC subway had a cost per mile per customer of ${nyc_opp_cost16} in 2016.')
print(f'The NYC subway had a cost per mile per customer of ${nyc_opp_cost15} in 2015.')

The NYC subway has 380 stations.
The NYC subway has 36 lines.
The NYC subway has 660.75 miles of track.
The NYC subway has an average fare of $2.75.
The NYC subway has an annual ridership of 353102740000.0 riders.
The NYC subway has an annual ridership of 2985859999.9999995 riders.
The NYC subway has an annual ridership of 2925569154.0000005 riders.
The NYC subway had a cost per mile per customer of $6.857751175283427e-05 in 2017.
The NYC subway had a cost per mile per customer of $0.008109860242043495 in 2016.
The NYC subway had a cost per mile per customer of $0.008276990229132003 in 2015.

In [15]:
#BART Bringing in Operating Cost per Passenger CSV
operating_costs = "BART Data Sources/Financial Security_2018.csv"
operating_costs_pd = pd.read_csv(operating_costs)
operating_costs_pd.head()

# BART Station Traffic 2015-2018
ridership = "BART Data Sources/Sum_Ridership.csv"
ridership_pd = pd.read_csv(ridership)
ridership_pd

# BART Rider Satisfaction (customer complaints)
customer_complaints = "BART Data Sources/Customer Complaints Jan-Jun 2018.csv"
customer_complaints_pd = pd.read_csv(customer_complaints)
customer_complaints_pd.head()

,Case Origin,Type,Category,Sub-Category,Station,Date/Time Opened,Date/Time Closed,Age (Days)
0,Website,Complaint,Police,Lack of Presence - STA,M30 - Powell St. (SF),4/1/18 1:00,4/3/18 13:48,3.0
1,Website,Complaint,Police,Lack of Presence - STA,M30 - Powell St. (SF),4/1/18 1:00,4/3/18 13:45,3.0
2,Website,Complaint,Maintenance and Equipment,M&E Misc.,M60 - 24th St. Mission (SF),4/1/18 9:19,4/3/18 11:39,2.0
3,Website,Complaint,Police,Lack of Presence - Train,NaN,4/1/18 12:59,4/3/18 11:34,2.0
4,Website,Complaint,Police,Lack of Presence - STA,C50 - Pleasant Hill/Contra Costa Centre,4/1/18 14:46,4/3/18 12:38,2.0